<%- include('../../includes/header',{loginUser}); %>

<div class="row" id="basic-table">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">All Users</h4>
            </div>
            <div class="table-responsive">
                <table class="table table-hover-animation">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Gender</th>
                            <th>Mobile</th>
                            <th>Email</th>
                            <th>Status</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% if(users && users.length == 0){ %>
                            <tr>
                                <td class="text-center" colspan="6">
                                    No users available !!! 
                                </td>
                            </tr>
                        <% }  else { %>

                            <% users.forEach(function(user){ %>
                                <tr>
                                    <td>
                                        <span class="font-weight-bold"><%= user.name %></span>
                                    </td>
                                    <td><%= user.gender %></td>
                                    <td><%= user.mobile %></td>
                                    <td><%= user.email %></td>
                                    <td>
                                        <%- 
                                            include('../../components/status',{status:user.status}); 
                                        %>
                                    </td>
                                    <td>
                                        <div class="d-flex align-items-center col-actions">
                                            <a class="mr-1" href="/admin/users/edit/<%= user._id %>" data-toggle="tooltip" data-placement="top" title="edit" data-original-title="edit">
                                                <i data-feather='edit'></i>
                                            </a>
                                            <a class="mr-1" href="/admin/user/view/<%= user._id %>" data-toggle="tooltip" data-placement="top" title="edit" data-original-title="edit">
                                                <i data-feather='eye'></i>
                                            </a>
                                            <!-- <a class="mr-1" href="/admin/users/view/<%= user._id %>" data-toggle="tooltip" data-placement="top" title="view" data-original-title="view">
                                               <i data-feather='eye'></i>
                                            </a> -->
                                        </div>
                                    </td>
                                </tr>
                            <% }) %>
                        <% } %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<input type="hidden" id="activeSideBar" value="users">
<%- include('../../includes/footer',{loginUser}); %>

