<%- include('../../includes/header',{loginUser}); %>
<div class="row" id="basic-table">
	<dic class="col-12">
		<div class="card">
			<div
				class="mt-1 mb-1 col-12 d-flex flex-sm-row flex-column"
				style="justify-content: flex-end"
			>
				<a href="/admin/courses/add">
					<button
						type="submit"
						class="mb-1 mr-0 btn btn-primary mb-sm-0 mr-sm-1 waves-effect waves-float waves-light"
					>
						Add Course
					</button>
				</a>
			</div>
		</div>
	</dic>
</div>
<div class="row" id="basic-table">
	<div class="col-12">
		<div class="card">
			<div class="card-header">
				<h4 class="card-title">Courses</h4>
			</div>
			<div class="table-responsive">
				<table class="table table-hover-animation">
					<thead>
						<tr>
							<th>Name</th>
							<th>Price</th>
							<th>Status</th>
							<th>Actions</th>
						</tr>
					</thead>
					<tbody>
						<% if(courses && courses.length == 0){ %>
						<tr>
							<td class="text-center" colspan="8">
								No trainers available !!!
							</td>
						</tr>
						<% } else { %> <% courses.forEach(function(course){ %>
						<tr>
							<td>
								<span class="font-weight-bold"
									><%= course.name %></span
								>
							</td>
							<td>
								<span class="font-weight-bold"
									><%= course.price %></span
								>
							</td>

							<td>
								<%-
								include('../../components/status',{status:course.status});
								%>
							</td>

							<td>
								<div
									class=" d-flex align-items-center col-actions"
								>
									<a
										class="mr-1"
										href="/admin/courses/add/<%= course._id %>"
										data-toggle="tooltip"
										data-placement="top"
										title="edit"
										data-original-title="edit"
									>
										<i data-feather="edit"></i>
									</a>

									

									<a
										class="mr-1 confirm-delete"
										href="/admin/courses/delete/<%= course._id %>"
										data-toggle="tooltip"
										data-placement="top"
										title="edit"
										data-original-title="edit"
									>
										<i
											data-feather="trash"
											style="color: red"
										></i>
									</a>
									
								</div>
							</td>
						</tr>
						<% }) %> <% } %>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>

<input type="hidden" id="activeSideBar" value="courses" />
<%- include('../../includes/footer',{loginUser}); %>
