<%- include('../../includes/header',{loginUser}); %>

<!-- categories edit start -->
<section class="app-user-edit">
	<div class="card">
		<div class="card-body">
			<!-- users edit account form start -->
			<form
				class="form-validate"
				method="POST"
				novalidate="novalidate"
				action="/admin/category/edit/<%= category._id %>"
			>
			<div class="mb-2 media">
				<a href="<%= category.bgImage %>"  target="_blank">
					<img src="<%= category.bgImage %>" alt="<%= loginUser.name %>" onerror="this.onerror=null;this.src='../../../app-assets/images/default.png';" class="mr-2 rounded cursor-pointer user-avatar users-avatar-shadow my-25" height="90" width="90" id="bgImageImg"/>
				</a>
				<div class="media-body mt-50">
					<h4 style="text-transform: capitalize;"><%= category.name %></h4> 
					<div class="px-0 mt-1 col-12 d-flex">
						<label class="mb-0 btn btn-primary mr-75" for="change-picture">
							<span class="d-none d-sm-block">Change</span>
							<input class="form-control file-upload" folder-name="<%= category.role %>-categories"  type="file" id="change-picture" hidden accept="image/png, image/jpeg, image/jpg" file-name="bgImage"/>
							<input type="hidden" class="form-control" id="bgImage" name="bgImage" value="<%if(category && category.filePath){%><%= category.filePath %><%}%>">
							<input type="hidden" name="fileExists" value="<%if(category && category.fileExists){%><%= category.fileExists %><%}%>" id="bgImageFileExists"/>
							<span class="d-block d-sm-none">
								<i class="mr-0" data-feather="edit"></i>
							</span>
						</label>
						<button type="button"  class="btn btn-outline-secondary d-none d-sm-block" onclick="deleteObject('<%= category.role %>-categories/<%= category.fileExists %>', '<%= category._id %>', '<%= category.role %>-categories')">Remove</button>
					</div>
				</div>
			</div>
				<div class="row">
					<div class="col-md-4">
						<div class="form-group"> 
							<label for="name">Name</label>
							<input
								type="text"
								class="form-control"
								placeholder="Name"
								value="<% if(category.name) { %> <%= category.name %> <%  } else { %>  <% } %>"
								name="name"
								id="name"
							/>
						</div>
					</div>

					

					<div class="col-md-4">
                        <%- 
                            include('../../components/status-edit',{status:category.status}); 
                        %>
                    </div>

					<div class="mt-2 col-12 d-flex flex-sm-row flex-column">
						<button
							type="submit"
							class="mb-1 mr-0 btn btn-primary mb-sm-0 mr-sm-1 waves-effect waves-float waves-light"
						>
							Save Changes
						</button>
						<a
							class="btn btn-outline-secondary waves-effect"
							href="/admin/<%= category.role %>-categories"
							>Cancle</a
						>
					</div>
				</div>
			</form>
		</div>
	</div>
</section>

<input type="hidden" id="activeSideBar" value="<%= category.role %>-categories" />
<%- include('../../includes/footer',{loginUser}); %>
