<%- include('../../includes/header',{loginUser}); %>
<div class="row" id="basic-table">
	<dic class="col-12">
		<div class="card">
			<div
				class="mt-1 mb-1 col-12 d-flex flex-sm-row flex-column"
				style="justify-content: flex-end"
			>
				<a href="/admin/category/add/?role=<%= categoryRole %>">
					<button
						type="submit"
						class="mb-1 mr-0 btn btn-primary mb-sm-0 mr-sm-1 waves-effect waves-float waves-light"
					>
						Add Category
					</button>
				</a>
			</div>
		</div>
	</dic>
</div>
<div class="row" id="basic-table">
	<div class="col-12">
		<div class="card">
			<div class="card-header">
				<h4 class="card-title" style="text-transform: capitalize;"><%= categoryRole %> Categories</h4>
			</div>
			<div class="table-responsive">
				<table class="table table-hover-animation">
					<thead>
						<tr>
							<th>Name</th>
							<th>Type</th>
							<th>Status</th>
							<th>Actions</th>
						</tr>
					</thead>
					<tbody>
						<% if(categories && categories.length == 0){ %>
						<tr>
							<td class="text-center" colspan="8">
								No trainers available !!!
							</td>
						</tr>
						<% } else { %> <% categories.forEach(function(category){
						%>
						<tr>
							<td>
								<span class="font-weight-bold"
									><%= category.name %></span
								>
							</td>
							<td>
								<% if(categories && category.editable){ %>
									<span class="mr-1 badge badge-pill badge-light-warning">
										Custom
									</span>
									<% } else { %>
									<span class="mr-1 badge badge-pill badge-light-info">
										System Generated
									</span>
									<% } %>
									
							</td>

							<td>
								<%-
								include('../../components/status',{status:category.status});
								%>
							</td>
							<td>
								<div
									class=" d-flex align-items-center col-actions"
								>
									<a
										class="mr-1"
										href="/admin/category/edit/<%= category._id %>"
										data-toggle="tooltip"
										data-placement="top"
										title="edit"
										data-original-title="edit"
									>
										<i data-feather="edit"></i>
									</a>
									<% if(category.editable){ %>

									<a
										class="mr-1 confirm-delete"
										href="/admin/category/delete/<%= category._id %>"
										data-toggle="tooltip"
										data-placement="top"
										title="delete"
										data-original-title="edit"
									>
										<i
											data-feather="trash"
											style="color: red"
										></i>
									</a>
									<% } else { %>
									<a
										class="mr-1"
										href="/admin/category/edit/<%= category._id %>"
										data-toggle="tooltip"
										data-placement="top"
										title="delete"
										data-original-title="edit"
										style="pointer-events: none"
									>
										<i
											data-feather="trash"
											style="color: #999"
										></i>
									</a>
									<% } %>
								</div>
							</td>
						</tr>
						<% }) %> <% } %>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>

<input type="hidden" id="activeSideBar" value="<%= categoryRole %>-categories" />
<%- include('../../includes/footer',{loginUser}); %>
