
            </div>
        </div>
    </div>
    <!-- END: Content-->
    
    
    <div class="sidenav-overlay"></div>
    <div class="drag-target"></div>

    <!-- BEGIN: Footer-->
    <footer class="footer footer-static footer-light">
        <p class="clearfix mb-0"><span class="float-md-left d-block d-md-inline-block mt-25">COPYRIGHT &copy; <%= new Date().getFullYear() %><a class="ml-25" href="<%= siteUrl %>" target="_blank"><%= title %></a><span class="d-none d-sm-inline-block">, All rights Reserved</span></span><span class="float-md-right d-none d-md-block">Hand-crafted & Made with<i data-feather="heart"></i></span></p>
    </footer>
    <%- include('toast'); %>
    <button class="btn btn-primary btn-icon scroll-top" type="button"><i data-feather="arrow-up"></i></button>
    <!-- END: Footer-->

    <!-- BEGIN: Vendor JS-->
    <script src="<%= siteUrl %>/app-assets/vendors/js/vendors.min.js"></script>
    <!-- BEGIN Vendor JS-->
    <!-- <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script> -->

    <!-- BEGIN: Page Vendor JS-->
    <script src="<%= siteUrl %>/app-assets/vendors/js/forms/validation/jquery.validate.min.js"></script>
    <script src="<%= siteUrl %>/app-assets/vendors/js/pickers/flatpickr/flatpickr.min.js"></script>
    <script src="<%= siteUrl %>/app-assets/vendors/js/extensions/toastr.min.js"></script>
    <!-- END: Page Vendor JS-->

    <!-- BEGIN: Theme JS-->
    <script src="<%= siteUrl %>/app-assets/js/core/app-menu.js"></script>
    <script src="<%= siteUrl %>/app-assets/js/core/app.js"></script>
    <!-- <script src="<%= siteUrl %>/app-assets/js/scripts/forms/form-select2.js"></script> -->
    <!-- END: Theme JS-->

    <!-- BEGIN: Page JS-->
    <script src="<%= siteUrl %>/app-assets/js/scripts/pages/page-auth-login.js"></script>
    <!-- END: Page JS-->

    <script src="<%= siteUrl %>/assets/js/blockUI.js"></script>
    <script src="<%= siteUrl %>/assets/js/scripts.js"></script>


    <!-- BEGIN Vendor JS-->

    <!-- BEGIN: Page Vendor JS-->
    <script src="<%= siteUrl %>/app-assets/vendors/js/editors/quill/katex.min.js"></script>
    <script src="<%= siteUrl %>/app-assets/vendors/js/editors/quill/highlight.min.js"></script>
    <script src="<%= siteUrl %>/app-assets/vendors/js/editors/quill/quill.min.js"></script>
    <!-- END: Page Vendor JS-->

    <!-- BEGIN: Theme JS-->
    <!-- END: Theme JS-->

    <!-- BEGIN: Page JS-->
    <script src="<%= siteUrl %>/app-assets/js/scripts/forms/form-quill-editor.js"></script>

    <!-- Summer Note Link  -->
    
</body>
<!-- END: Body-->

</html>