<%- include('../../includes/header',{loginUser}); %>

<!-- trainers edit start -->
<section class="app-user-edit">
    <div class="card">
        <div class="card-body">
            <!-- users edit account form start -->
            <form class="form-validate" method="POST" novalidate="novalidate" action="/admin/trainers/edit/<%= trainer._id %>">
                   <div class="mb-2 media">
                        <a href="<%= trainer.profileImage %>"  target="_blank">
                            <img src="<%= trainer.profileImage %>" alt="<%= loginUser.name %>" onerror="this.onerror=null;this.src='../../../app-assets/images/default.png';" class="mr-2 rounded cursor-pointer user-avatar users-avatar-shadow my-25" height="90" width="90" id="profileImageImg"/>
                        </a>
                        <div class="media-body mt-50">
                            <h4 style="text-transform: capitalize;"><%= trainer.name %></h4> 
                            <div class="px-0 mt-1 col-12 d-flex">
                                <label class="mb-0 btn btn-primary mr-75" for="change-picture">
                                    <span class="d-none d-sm-block">Change</span>
                                    <input class="form-control file-upload" folder-name="trainers"  type="file" id="change-picture" hidden accept="image/png, image/jpeg, image/jpg" file-name="profileImage"/>
                                    <input type="hidden" class="form-control" id="profileImage" name="profileImage" value="<%if(trainer && trainer.filePath){%><%= trainer.filePath %><%}%>">
                                    <input type="hidden" name="fileExists" value="<%if(trainer && trainer.fileExists){%><%= trainer.fileExists %><%}%>" id="profileImageFileExists"/>
                                    <span class="d-block d-sm-none">
                                        <i class="mr-0" data-feather="edit"></i>
                                    </span>
                                </label>
                                <button type="button"  class="btn btn-outline-secondary d-none d-sm-block" onclick="deleteObject('trainers/<%= trainer.fileExists %>', '<%= trainer._id %>', 'user')">Remove</button>
                                <!-- <button class="btn btn-outline-secondary d-block d-sm-none">
                                    <i class="mr-0" data-feather="trash-2"></i>
                                </button> -->
                            </div>
                        </div>
                    </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="name">Name</label>
                            <input type="text" class="form-control" placeholder="Name" value="<%= trainer.name %>" name="name" id="name">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="email">E-mail</label>
                            <input type="email" class="form-control" placeholder="Email" value="<%= trainer.email %>" name="email" id="email">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="mobile">Mobile</label>
                            <input type="mobile" class="form-control" placeholder="Mobile" value="<%= trainer.mobile %>" name="mobile" id="mobile">
                        </div>
                    </div>

                    <div class="col-md-4">
                        <%- 
                            include('../../components/status-edit',{status:trainer.status}); 
                        %>
                    </div>

                    <div class="col-md-4">
                       <div class="form-group">
                            <label for="status">Profile Approval</label>
                            <select class="form-control" id="status" name="profileStatus" onchange="rejectFunction(this.value)">
                                <option value="pending" <% if( trainer.profileApproval.status == "pending"){ %>  selected <% } %>> Pending </option>
                                <option value="approved" <% if( trainer.profileApproval.status == "approved"){ %>  selected <% } %>> Approved </option>
                                <option value="rejected" <% if( trainer.profileApproval.status == "rejected"){ %>  selected <% } %>> Rejected </option>
                            </select>
                        </div>
                    </div>
                    <div
                        class="text-left modal"
                        id="rejectReasonModal"
                        tabindex="-1"
                        role="dialog"
                        aria-labelledby="myModalLabel6"
                        aria-hidden="true"
                    >
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title" id="myModalLabel6">Reason</h4>
                                    <button
                                        type="button"
                                        class="close"
                                        data-dismiss="modal"
                                        aria-label="Close"
                                    >
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                               
                                    <div class="modal-body">
                                        <textarea class="form-control" name="reason"></textarea>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-primary" data-dismiss="modal">
                                            Submit
                                        </button>
                                    </div>
                                    <!-- <input type="text" id="queryId" value="" name="_id" /> -->
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                       <div class="form-group">
                            <label for="status">Featured</label>
                            <select class="form-control" id="status" name="featured">
                                <option value="yes" <% if( trainer.isFeatured == true){ %>  selected <% } %> > Yes </option>
                                <option value="no" <% if( trainer.isFeatured == false){ %>  selected <% } %> > No </option>
                            </select>
                        </div>
                    </div>

                    <div class="col-md-4">
                       <div class="form-group">
                            <label for="status">Trainer Categories</label>
                            <select class="form-control" id="status" name="categories" multiple>
                                <% categories.forEach(function(category){ %>
                                <option value="<%= category._id %>"  <% trainer.categories.find((userCategory) => {  if(userCategory.name==category.name) {  %> selected <% }  }) %>  > <%= category.name %> </option>
                                <% }) %>
                            </select>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <%- 
                            include('../../components/gender',{gender:trainer.gender});  
                        %>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="birth">DOB</label>
                            <%- 
                                include('../../components/date',{date:trainer.dob,name:"dob"}); 
                            %>
                        </div>
                    </div>
                    <% if(trainer.documents) { %> 
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="birth">Documents</label>
                            <div class="row">
                                <div class="col-md-3">
                                    <a href="<%= trainer.documents.certificate %>" target="_blank"><p>Certificate</p></a>
                                </div>
                                <div class="col-md-3">
                                     <a href="<%= trainer.documents.address %>" target="_blank"><p>Address</p></a>
                                </div>
                                <div class="col-md-3s">
                                     <a href="<%= trainer.documents.identity %>" target="_blank"><p>Identity</p></a>
                                </div>
                            </div>
                        </div>
                        
                    </div>

                    <% } %>
                    
                    
                    <div class="mt-2 col-12 d-flex flex-sm-row flex-column">
                        <button type="submit" class="mb-1 mr-0 btn btn-primary mb-sm-0 mr-sm-1 waves-effect waves-float waves-light">Save Changes</button>
                        <a class="btn btn-outline-secondary waves-effect" href="/admin/trainers">Cancle</a>
                    </div>
                </div>
            </form>
            <!-- users edit account form ends -->
        </div>
    </div>
</section>
<!-- trainers edit end -->



<input type="hidden" id="activeSideBar" value="trainers">
<%- include('../../includes/footer',{loginUser}); %>

<script>
    function rejectFunction(profileStatus) {
        if(profileStatus=="rejected") {
            $("#rejectReasonModal").modal();
        }
    }
</script>