<%- include('../includes/header',{loginUser}); %>
<!-- Dashboard Starts -->
<section id="dashboard-ecommerce">
    <div class="row match-height">
        <!-- Statistics Card -->
        <div class="col-xl-12 col-md-6 col-12">
            <div class="card card-statistics">
                <div class="card-header">
                    <h4 class="card-title">Statistics</h4>
                    <div class="d-flex align-items-center">
                        <p class="mb-0 card-text font-small-2 mr-25">Updated 1 month ago</p>
                    </div>
                </div>
                <div class="card-body statistics-body">
                    <div class="row">
                        <div class="mb-2 col-xl-4 col-sm-6 col-12 mb-xl-0">
                            <div class="media">
                                <div class="mr-2 avatar bg-light-primary">
                                    <div class="avatar-content">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-trending-up avatar-icon"><polyline points="23 6 13.5 15.5 8.5 10.5 1 18"></polyline><polyline points="17 6 23 6 23 12"></polyline></svg>
                                    </div>
                                </div>
                                <div class="my-auto media-body">
                                    <h4 class="mb-0 font-weight-bolder"><%= data.users %></h4>
                                    <a href="/admin/users"><p class="mb-0 card-text font-small-3">Users</p></a>
                                </div>
                            </div>
                        </div>
                        <div class="mb-2 col-xl-4 col-sm-6 col-12 mb-xl-0">
                            <div class="media">
                                <div class="mr-2 avatar bg-light-info">
                                    <div class="avatar-content">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-user avatar-icon"><path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path><circle cx="12" cy="7" r="4"></circle></svg>
                                    </div>
                                </div>
                                <div class="my-auto media-body">
                                    <h4 class="mb-0 font-weight-bolder"><%= data.trainers %></h4>
                                    <a href="/admin/trainers"><p class="mb-0 card-text font-small-3">Trainers</p></a>
                                </div>
                            </div>
                        </div>
                        <div class="mb-2 col-xl-4 col-sm-6 col-12 mb-sm-0">
                            <div class="media">
                                <div class="mr-2 avatar bg-light-danger">
                                    <div class="avatar-content">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-box avatar-icon"><path d="M21 16V8a2 2 0 0 0-1-1.73l-7-4a2 2 0 0 0-2 0l-7 4A2 2 0 0 0 3 8v8a2 2 0 0 0 1 1.73l7 4a2 2 0 0 0 2 0l7-4A2 2 0 0 0 21 16z"></path><polyline points="3.27 6.96 12 12.01 20.73 6.96"></polyline><line x1="12" y1="22.08" x2="12" y2="12"></line></svg>
                                    </div>
                                </div>
                                <div class="my-auto media-body">
                                    <h4 class="mb-0 font-weight-bolder"><%= data.courses %></h4>
                                    <a href="/admin/courses"><p class="mb-0 card-text font-small-3">Courses</p></a>
                                </div>
                            </div>
                        </div>
                        <!-- <div class="col-xl-3 col-sm-6 col-12">
                            <div class="media">
                                <div class="mr-2 avatar bg-light-success">
                                    <div class="avatar-content">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-dollar-sign avatar-icon"><line x1="12" y1="1" x2="12" y2="23"></line><path d="M17 5H9.5a3.5 3.5 0 0 0 0 7h5a3.5 3.5 0 0 1 0 7H6"></path></svg>
                                    </div>
                                </div>
                                <div class="my-auto media-body">
                                    <h4 class="mb-0 font-weight-bolder">$9745</h4>
                                    <p class="mb-0 card-text font-small-3">Revenue</p> 
                                </div>
                            </div>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
        <!--/ Statistics Card -->
    </div>
</section>
<!-- Dashboard Ends -->
<input type="hidden" id="activeSideBar" value="dashboard">
<%- include('../includes/footer',{loginUser}); %>

