<%- include('../../includes/header',{loginUser}); %>
<div class="row" id="basic-table">
	<div class="col-12">
		<div class="card">
			<div class="row">
				<!-- <form
					class="form-validate"
					method="GET"
					novalidate="novalidate"
					action="/admin/goals/"
				> -->
				<div class="col-9 d-flex flex-sm-row flex-column">
					
				</div>

				<div
					class="mt-1 mb-1 col-3 d-flex flex-sm-row flex-column"
					style="justify-content: flex-end"
				>
					<a href="/admin/emails/add">
						<button
							type="submit"
							class="mb-1 mr-0 btn btn-primary mb-sm-0 mr-sm-1 waves-effect waves-float waves-light"
						>
							Add Email Template
						</button>
					</a>
				</div>
			</div>
		</div>
	</div>
</div>


<div class="row" id="basic-table">
	<div class="col-12">
		<div class="card">
			<div class="card-header">
				<h4 class="card-title">Email Manager</h4>
			</div>
			<div class="table-responsive">
				<table class="table table-hover-animation">
					<thead>
						<tr>
							<th>Title</th>
							<th>Date</th>
							<th>Status</th>
							<th>Actions</th>
						</tr>
					</thead>
					<tbody>
						<% if(emails && emails.length == 0){ %>
						<tr>
							<td class="text-center" colspan="8">
								No Email available !!!
							</td>
						</tr>
						<% } else { %> <% emails.forEach(function(email){ %>
						<tr>
							<td>
								<span class="font-weight-bold"
									><%= email.title %></span
								>
							</td>
							<!-- <td>
								<span class="font-weight-bold"
									><%= email.content %></span
								>
							</td> -->
							<td>
								<span class="font-weight-bold"
									><%= email.date %></span
								>
							</td>

							<td>
								<%- 
									include('../../components/status',{status:email.status}); 
								%>
							</td>
							
							
							<td>
								<div
									class=" d-flex align-items-center col-actions"
								>
									

									<div
										class=" d-flex align-items-center col-actions"
									>

										<a class="mr-1" href="/admin/emails/edit/<%= email._id %>" data-toggle="tooltip" data-placement="top" title="edit" data-original-title="edit">
											<i data-feather='edit'></i>
										</a>

										<a
											class="mr-1"
											href="/admin/email/view/"
											data-toggle="tooltip"
											data-placement="top"
											title="view"
											data-original-title="delete"
										>
											<i data-feather="trash" style="color: red"></i>
										</a>
										
									</div>

								</div>
							</td>
						</tr>
						<% }) %> <% } %>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>

<input type="hidden" id="activeSideBar" value="emails" />
<%- include('../../includes/footer',{loginUser}); %>
