<%- include('../../includes/header',{loginUser}); %>
<div class="row" id="basic-table">
	<div class="col-12">
		<div class="card">
			<div class="row">
				<!-- <form
					class="form-validate"
					method="GET"
					novalidate="novalidate"
					action="/admin/goals/"
				> -->
				<div class="col-9 d-flex flex-sm-row flex-column">
					<!-- <div
						class="mt-1 mb-1 col-3 d-flex flex-sm-row flex-column"
						style="justify-content: flex-start"
					>
						<input
							class="ml-1 form-control"
							name="goal"
							placeholder="Search By Name"
						/>
					</div>
					<div
						class="mt-1 mb-1 col-3 d-flex flex-sm-row flex-column"
						style="justify-content: flex-start"
					>
						<select class="form-control" name="status">
							<option value="active">Active</option>
							<option value="inactive">Inactive</option>
						</select>
					</div>
					<div
						class="mt-1 mb-1 col-3 d-flex flex-sm-row flex-column"
						style="justify-content: flex-start"
					>
						<button
							type="submit"
							class="mb-1 mr-0 btn btn-primary mb-sm-0 mr-sm-1 waves-effect waves-float waves-light"
						>
							Submit
						</button>
					</div> -->
				</div>
				<!-- </form> -->

				<div
					class="mt-1 mb-1 col-3 d-flex flex-sm-row flex-column"
					style="justify-content: flex-end"
				>
					<a href="/admin/goals/add">
						<button
							type="submit"
							class="mb-1 mr-0 btn btn-primary mb-sm-0 mr-sm-1 waves-effect waves-float waves-light"
						>
							Add Goals
						</button>
					</a>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="row" id="basic-table">
	<div class="col-12">
		<div class="card">
			<div class="card-header">
				<h4 class="card-title">Users Goals</h4>
			</div>
			<div class="table-responsive">
				<table class="table table-hover-animation">
					<thead>
						<tr>
							<th>Name</th>
							<th>CreatedAt</th>
							<th>Status</th>
							<th>Actions</th>
						</tr>
					</thead>
					<tbody>
						<% if(goals && goals.length == 0){ %>
						<tr>
							<td class="text-center" colspan="8">
								No trainers available !!!
							</td>
						</tr>
						<% } else { %> <% goals.forEach(function(goal){ %>
						<tr>
							<td>
								<span class="font-weight-bold"
									><%= goal.name %></span
								>
							</td>
							<td>
								<span class="font-weight-bold"
									><%= goal.date %></span
								>
							</td>

							<td>
								<%-
								include('../../components/status',{status:goal.status});
								%>
							</td>
							<td>
								<div
									class=" d-flex align-items-center col-actions"
								>
									<% if(goal.editable){ %>
									<a
										class="mr-1"
										href="/admin/goals/edit/<%= goal._id %>"
										data-toggle="tooltip"
										data-placement="top"
										title="edit"
										data-original-title="edit"
									>
										<i data-feather="edit"></i>
									</a>

									<% } else { %>

									<a
										class="mr-1"
										href="/admin/goals/edit/<%= goal._id %>"
										data-toggle="tooltip"
										data-placement="top"
										title="edit"
										data-original-title="edit"
										
									>
										<i
											data-feather="edit"
											
										></i>
									</a>

									<% } %> <% if(goal.editable){ %>

									<a
										class="mr-1 confirm-delete"
										href="/admin/goals/delete/<%= goal._id %>"
										data-toggle="tooltip"
										data-placement="top"
										title="delete"
										data-original-title="edit"
									>
										<i
											data-feather="trash"
											style="color: red"
										></i>
									</a>
									<% } else { %>
									<a
										class="mr-1"
										href="/admin/goals/edit/<%= goal._id %>"
										data-toggle="tooltip"
										data-placement="top"
										title="delete"
										data-original-title="edit"
										style="pointer-events: none"
									>
										<i
											data-feather="trash"
											style="color: #999"
										></i>
									</a>
									<% } %>
								</div>
							</td>
						</tr>
						<% }) %> <% } %>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>

<input type="hidden" id="activeSideBar" value="goals" />
<%- include('../../includes/footer',{loginUser}); %>
