<%
    let array = [
        {
            "label":"Male",
            "value": "male"
        },
        {
            "label":"Female",
            "value": "female"
        },
        {
            "label":"Other",
            "value": ""
        }
    ]
%>
<div class="form-group">
    <label class="d-block mb-1">Gender</label>
    <% array.forEach(arr => {  %>  
        <% if(arr.value == gender) { %>
            <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" id="<%= arr.label %>" name="gender" value="<%= arr.value %>" class="custom-control-input" checked="">
                <label class="custom-control-label" for="<%= arr.label %>"><%= arr.label %></label>
            </div>
        <% } else {%>
            <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" id="<%= arr.label %>" name="gender" value="<%= arr.value %>" class="custom-control-input">
                <label class="custom-control-label" for="<%= arr.label %>"><%= arr.label %></label>
            </div>
        <% } %>
    <%  }); %>
</div>